.scopeAndFacts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 40% 20% 20% 10%;
  grid-gap: 10px;
}
h1 {
  grid-column-start: 2;
  /* text-align: center; */
  align-self: center;
}
h4 {
  align-self: center;
  font-style: italic;
}
button {
  color: white;
  background-color: purple;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}
.threeScopes {
  background-color: lightsteelblue;
  grid-column-start:4;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}
.threeButtons {
  background-color: red;
  grid-row: 2 / span 1;
  grid-column: 6 / span 2;
  justify-self: end;
  align-self: end;
}

@media only screen and (max-width: 415px){
  .scopeAndFacts {
    display: unset;
    text-align:justify;
  }
  .threeButtons {
    display: flex;
    justify-content: center;
  }
  h1{
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .threeScopes h3 {
  margin-bottom: 0;
 }
 p{
   margin-top: 7px;
 }
}

@media only screen and (max-width: 800px) and (min-width: 416px){
  .scopeAndFacts {
    display: unset;
  }
   .threeButtons {
    display: flex;
    justify-content: flex-end; 
  } 
  h1{
    margin-bottom: 0;
  }
  h4 {
    margin: 0;
  }
}
