html{
background-image: url('https://cdn.lowgif.com/full/7951af76d6523f22-shooting-stars-gifs-google-search-web-design-pinterest.gif');
}

main {
  padding: 30px;
  margin: 10px;
  min-height: 500px;
  font-family: 'Acme', sans-serif;
}

@media only screen and (max-width: 415px){
  html{
    background-image: url('https://cdn.lowgif.com/full/7951af76d6523f22-shooting-stars-gifs-google-search-web-design-pinterest.gif');
    background-size: cover;
  }
}

@media only screen and (max-width: 800px) and (min-width: 416px){
  main {
    min-height: 750px;
  }
  
  html{
    background-image: url('https://cdn.lowgif.com/full/7951af76d6523f22-shooting-stars-gifs-google-search-web-design-pinterest.gif');
    background-size: cover;
  }
}