.sunFacts {
  color: #C4DDE9;
  font-family: 'Acme', sans-serif;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

@media only screen and (max-width: 415px){
  .sunFacts{
    display: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .sunFacts h3{
    display: none;
  }

}

@media only screen and (max-width: 800px) and (min-width: 416px) {
  .sunFacts {
    display: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sunFacts h3{
    display: none;
  }
  p {
    padding: 10px;
  }
}